.nav {
  padding: 8px 0 8px 8px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 40px;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 14px -4px #C7F9FF70;
    color: rgba(255, 255, 255, 1);
    border: 1px solid #C7F9FF70;
  }
}

.link_active {
  border: 1px solid rgba(0, 158, 43, 0.80);

  &:hover {
    background: rgba(0, 158, 43, 0.15);
    border: 1px solid rgba(0, 158, 43, 0.80);
    box-shadow: 0 0 14px -4px rgba(0, 158, 43, 0.40);
  }
}

.title {
  position: absolute;
  left: 158px;
  bottom: 2%;
  z-index: 1;
  border-radius: 4px;
  padding: 4px 10px;
  background: rgba(0, 0, 0, 0.3);
}
